<%= form_for @team do |f| %>
    <div class="checkIn_msg">
        <% if @team.errors.any? %>
            <h2>
            <%= pluralize(@team.errors.count, "Mistake")%> prevents the team from being recorded: 
            </h2>
            <ul>
                <% @team.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
            </ul>
        <%end%>
    </div>
    <div>
        <%= f.label :Team_Name %>
        <%= f.text_field :team_name, :class => "form_control" %>
    </div>
    <div>
        <%= f.label :Description %>
        <%= f.text_area :description, :class => "form_control text_area" %>
    </div>
    <div>
        <% if @team.cover? %>
        <%= image_tag @team.cover.url() %>
        <% end %>
        <%=f.file_field :cover%>
    </div>
    <div class="bnt-center btn-margin">
        <%= f.submit "save", :class =>"btn"%>
    </div>
<% end %>