<%= form_for @team do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@team.errors.count, "error") %> han impedido que el artículo sea grabado:
      </h2>
      <ul>
        <% @team.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form">
    <p>
      <%= f.label :Team_Name %>
      <%= f.text_field :team_name %>
    </p>
     <p>
      <%= f.label :Description %>
      <%= f.text_area :description, :class => "text_area" %>
    </p>
  </div>
  <div class="btn">
    <p>
      <%= f.submit %>
    </p>
  </div>
<% end %>