<div class="field">
	<p>
	  <strong>Team name:</strong>
	  <%= @team.team_name %>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= @team.description %>
	</p>
	<div>
		<%= image_tag @team.cover.url() %>
	</div>


	<%= link_to 'Back', team_path %> 
	<%= link_to 'Edit', edit_team_path(@team) %>
</div>