<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title><%= content_for?(:title) ? yield(:title) : "INVICTUS" %></title>

        <%= stylesheet_link_tag    "application" %>
        <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>

    <body>
        <header>
            <div class="row">
                <div class="medium-4 large-4 columns">
                    <div class="wrapper">
                        <%= image_tag "soccer.png", :alt => "invictus", :id => "logo" %>
                        <h1>invictus</h1>
                    </div>
                </div>
                <div class="medium-8 large-8 columns">
                    <ul class="vertical menu", id="menu">
                        <li><%=link_to "About us", {:controller => :layouts, :action =>:home}, {:class=>"fa fa-futbol-o"} %></li>
                        <li><%=link_to "Check in", {:controller => :teams, :action =>:new}, {:class=>"fa fa-pencil-square-o"}%></li>
                        <li><%=link_to "Teams", {:controller => :teams, :action =>:index}, {:class=>"fa fa-users"}%></li>
                    </ul>
                </div>
            </div>
        </header>

        <%= yield %>

    </body> s
</html>
